/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 13px rgba(0,0,0,1);
}
/* no shadow for tags in content */
.inner > p > .btn, .inner > p > code {
  text-shadow: none;
}
/*
 * background-img
 */
@media screen {
  .cover-img {
    background-color: #333;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    margin: 0px;
  }
}
/* 1080p 
@media screen and (min-width: 768px) {
  .cover-img {
    background-image: url('/large_image/DSC_4041_1920.jpg');
  }
}
*/

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* fixed-info */
.fixed-info {
  position: fixed;
  top: -95px;
  color: rgba(255, 255, 255, 1);
  height: 95px;
  text-align: left;
}
.fixed-info-button {
  width: 28px;
  height: 100%;
  line-height: 95px;
  background: rgba(0, 0, 0, 0.7);
  float: left;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
.fixed-info-button-gap {
  height: 100%;
  width: 2px;
  float: left;
}
.fixed-info-content {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  float: left;
  vertical-align: top;
  padding: 10px 25px;
  overflow: hidden;
  cursor: pointer;
}
.photo-list-pointer > ul {
  list-style-type: none;
  line-height: 20px;
  text-align: center;
  padding: 0px;
  margin-bottom: 30px;
}
.photo-list-pointer > ul > li {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin: 3px;
  cursor: pointer;
}
.photo-list-pointer > ul > li.active {
  background-color: rgba(255, 255, 255, 0.8);
}