---
layout: page
description: "这是 懒惰成翔的 常年不更新的 dewafer的 个人博客。"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            <i class="fa fa-hashtag"></i>
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta"><i class="fa fa-terminal"></i> {{ post.date | date: "%Y/%-m/%-d" }}<!--，作者：{% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}--></p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 新的文章</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">旧的文章 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
