---
layout: blog
title: 博客
description: 所有的博客文章
menu-order: 50
about: 所有的文章都在这里了。
about-title: 这是啥？
---

{% assign posts = false %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<!-- 显示所有的文章算了。 -->
{% for post in posts %}


{% assign is_blog = true %}
{% comment %}
{% assign is_blog = false %}
{% for cat in post.categories %}
  {% if cat == 'blog' %}
    {% assign is_blog = true %}
  {% endif %}
{% endfor %}
{% endcomment %}

{% if is_blog %}
  <article class="blog-post">
    <h2 class="blog-post-title">{{ post.title }} <a href="{{ post.url }}" ><span class="glyphicon glyphicon-link invisible"></span></a></h2>
    {% include blog-post-meta.html %}

    {{ post.excerpt }}

      <div class="pull-right">
      <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}" role="button">阅读全文 <span class="glyphicon glyphicon-chevron-right"><span/></a>
      </div>

  </article><!-- /.blog-post -->
{% endif %}

{% endfor %}
<!--
  <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->