<!DOCTYPE html>
<html lang="zh-CN">

  {% include head.html %}

<body>

  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
        content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">

      {{ content }}

      <div class="footer">
        {{ site.title }} by {{ site.author }} {{ site.time | date: '%Y' }} &copy;
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0;display:inline;margin:0;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
      </div>
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <!-- google-analytics -->
  <script>
  if (document.location.hostname.search("{{ site.hostname }}") !== -1) {

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74900014-1', 'auto');
    ga('send', 'pageview');

  }
  </script>

  <!-- baidu tongji -->
  <script>
  var _hmt = _hmt || [];
  if (document.location.hostname.search("{{ site.hostname }}") !== -1) {
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?27f648bd35c15807c3dd590d1f9e91bf";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  }
  </script>

  <!-- baidu link push -->
  <script>
  if (document.location.hostname.search("{{ site.hostname }}") !== -1) {
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
  }
  </script>

  <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if(!checkbox.checked ||
            sidebar.contains(target) ||
            (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>
  </body>
</html>
