<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

      <nav>
        <ul> 
            {% assign site_pages_sorted = site.pages | sort:'order' %}
            {% for p in site_pages_sorted %}
               {% assign class = "" %}
                {% if p.title %}
                  {% if p.path == page.path %}
                    {% assign class = "tag-h1" %}
                  {% endif %}
                  <li class="{{ class }}"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
      </nav>

      <section>
        {{ content }}
      </section>

      {% include footer.html %}

    </div>
  </body>

</html>
