---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"><i class="far fa-calendar-alt"></i> {{ page.date | date: "%Y年 %-m月 %-d日" }}</span>
  {{ content }}

  <div class="donate">
    <div>
      <div class="qr-code-box">
        <small>Alipay 支付宝</small>
        <img class="alipay-qr-code" src="{{ site.baseurl }}/img/alipay.jpeg" title="Alipay 支付宝 Thanks for donation 感谢打赏" />
      </div>
      <div class="qr-code-box">
        <small>Wechat Pay 微信打赏</small>
        <img class="wechat-qr-code" src="{{ site.baseurl }}/img/Wechatpay.jpeg" title="Wechat pay 微信支付 Thanks for donation 感谢打赏" />
      </div>
    </div>
    <small>若本文对您有帮助，欢迎打赏，感谢您的鼓励。</small>
  </div>
</div>

<div class="related">
  <h2>相关文章</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><i class="far fa-calendar-alt"></i> {{ post.date | date: "%Y年 %-m月 %-d日" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
