---
layout: default
---
{% capture header-img-url %}
{% if page.header-img contains 'http:' or page.header-img contains 'https:' %}
{{ page.header-img }}
{% else %}
{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}
{% endif %}
{% endcapture %}
<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ header-img-url | strip_newlines }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading"><i class="fa fa-hashtag"></i> {{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta"><i class="fa fa-terminal"></i> {{ page.date | date: "%Y/%-m/%-d" }}<!--，作者：{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}--></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article class="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				          {{ content }}

                <!-- <hr> -->

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; 上一篇文章</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇文章 &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
